#header{
    width: 460px;
    height: 90px;

    max-width: 700px;
    margin:auto;

    display: flex;
    align-items:center;
    justify-content:center;
}

body{
    background-image:url("assets/background.png");
}
h1{
    color:rgb(74, 198, 255);
    font-family: "papyrus", sans-serif;
    background-color:beige;
}
p{
    color:red;
    background-color:beige;
    font-size:xx-large;
}
#p1{
    color:rgb(225, 0, 255);
}
#t{
    color:rgb(0, 13, 255);
    font-family: "Comic Sans MS", sans-serif;
    background-color:beige;
}
